.card {
  padding: 20px;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  color: #ff9a9e;
  font-weight: 900;
  font-size: 2rem;
}

.description {
  font-size: 1.4rem;
  color: black;
}

.yes_button {
  font-size: 14px;
  background-color: #ff9a9e;
}

.yes_button:hover {
  border: none;
}

.no_button {
    margin-left: 10px;
  font-size: 14px;
  background-color: transparent;
  color: black;
  border: 1px solid #ff9a9e;
}
